@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+1p:wght@800&family=Sawarabi+Mincho&display=swap");
@font-face {
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Sawarabi Mincho', sans-serif;
}

::-moz-selection {
  background: #345961;
  color: #FFF;
}

::selection {
  background: #345961;
  color: #FFF;
}

* {
  font-family: 'Kosugi Maru', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

.navbar {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar h1 {
  text-align: center;
  color: #ffffff;
}

.logo {
  letter-spacing: 5px;
}

.logo-link {
  text-decoration: none;
}

.navbar-nav {
  float: right;
  margin-top: -40px;
  margin-right: 50px;
}

.nav-item {
  display: inline-block;
  padding: 0px 15px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  color: #345961;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header-text {
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
  pointer-events: none;
}

.header-text h1 {
  letter-spacing: 38px;
  padding-left: 35px;
  -webkit-animation: textAni 2s;
          animation: textAni 2s;
  font-family: 'M PLUS 1p' ,sans-serif;
}

.header-text p {
  padding: 0 35%;
  line-height: 2em;
  letter-spacing: 2px;
  -webkit-animation: textAni 2s  alternate;
          animation: textAni 2s  alternate;
  text-align: justify;
}

.header-img img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: -1;
}

.cloud {
  width: 100%;
  overflow: hidden;
}

.cloud-elip-1, .cloud-elip-2, .cloud-elip-3, .cloud-elip-4 {
  width: 500px;
  height: 500px;
  border-radius: 250px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  -webkit-animation: cloudAni 2s infinite alternate;
          animation: cloudAni 2s infinite alternate;
}

.cloud-elip-1 {
  margin-left: -110px;
  margin-top: -80px;
  width: 50%;
  height: 100%;
  border-radius: 100%;
}

.cloud-elip-2 {
  margin-left: 400px;
  margin-top: 50px;
}

.cloud-elip-3 {
  margin-left: 800px;
  margin-top: 10px;
  width: 40%;
  height: 100%;
  border-radius: 100%;
}

.cloud-elip-4 {
  margin-left: 1200px;
  margin-top: 200px;
  width: 400px;
  height: 400px;
  border-radius: 200px;
}

.husky {
  position: absolute;
  top: 25%;
  z-index: 0;
  -webkit-animation: huskyUp 5s  alternate;
          animation: huskyUp 5s  alternate;
}

.husky .body {
  margin-left: 100px;
}

.husky .body .hairs {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 130px;
  top: 25px;
}

.husky .body .hairs .hair-r {
  width: 20px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.husky .body .hairs .hair-c {
  width: 20px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}

.husky .body .hairs .hair-l {
  width: 20px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.husky .body .body-b {
  width: 320px;
  height: 400px;
  border-radius: 50%;
  background-color: #4E4E4E;
}

.husky .body .body-w {
  position: absolute;
  width: 220px;
  height: 300px;
  border-radius: 50%;
  background-color: #fff;
  top: 0;
  margin-left: 50px;
  margin-top: 50px;
}

.husky .body .ears {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 3px;
  z-index: -1;
  -webkit-animation: huskyEarUp 6s  alternate;
          animation: huskyEarUp 6s  alternate;
}

.husky .body .ears .ear-r {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 45px 57px 45px;
  border-color: transparent transparent #4E4E4E transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.husky .body .ears .ear-r .ear-r-i {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 42px 25px;
  border-color: transparent transparent #fff transparent;
  left: -25px;
  top: 15px;
}

.husky .body .ears .ear-l {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 45px 57px 45px;
  border-color: transparent transparent #4E4E4E transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 140px;
}

.husky .body .ears .ear-l .ear-l-i {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 42px 25px;
  border-color: transparent transparent #fff transparent;
  left: -25px;
  top: 15px;
}

.husky .body .eyes {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 120px;
  margin-left: 110px;
  -webkit-animation: huskyEyeandNoseMove 6s  alternate;
          animation: huskyEyeandNoseMove 6s  alternate;
}

.husky .body .eyes .eye-r {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: #4E4E4E;
}

.husky .body .eyes .eye-r .eye-r-i {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: #fff;
}

.husky .body .eyes .eye-l {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: #4E4E4E;
  margin-left: 50px;
}

.husky .body .eyes .eye-l .eye-l-i {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: #fff;
}

.husky .body .nose {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 20px 0 20px;
  border-color: #4E4E4E transparent transparent transparent;
  top: 170px;
  margin-left: 140px;
  -webkit-animation: huskyEyeandNoseMove 6s  alternate;
          animation: huskyEyeandNoseMove 6s  alternate;
}

.husky .body .blushs {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 170px;
  margin-left: 20px;
}

.husky .body .blushs .blush-r {
  width: 80px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFA1A1;
}

.husky .body .blushs .blush-l {
  width: 80px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFA1A1;
  margin-left: 110px;
}

.section1-title, .section2-title, .section1-subTitle, .section2-subTitle {
  text-align: center;
  color: #345961;
  position: relative;
}

.section1-title {
  margin-top: 300px;
  letter-spacing: 9px;
  margin-left: 4px;
  z-index: 3;
}

.section1-subTitle {
  font-size: 12px;
  letter-spacing: 0.35em;
  margin-top: -15px;
  z-index: 3;
}

.section2-title {
  letter-spacing: 8px;
  margin-left: 6px;
  margin-top: 80px;
}

.section2-subTitle {
  font-size: 12px;
  letter-spacing: 0.25em;
  margin-top: -15px;
}

.section-1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 60%;
  z-index: 3;
  margin-left: 44%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-1-intro {
  z-index: 3;
  width: 30%;
}

.section-1-intro h1 {
  position: absolute;
  font-size: 30px;
  letter-spacing: 10px;
  margin-top: -30%;
  margin-left: -22%;
  color: #fff;
  opacity: 0.6;
  white-space: nowrap;
  visibility: hidden;
}

.section-1-intro img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin: 0px -20px;
}

.section-1-intro:hover img {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.section-1-intro:hover h1 {
  visibility: visible;
  font-size: 36px;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 4;
}

.breed-title {
  left: 330px;
}

.breed-title2 {
  left: 700px;
}

.breed-title3 {
  left: 1050px;
}

.section-1-img {
  border-radius: 15px;
}

.icon {
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.section-2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #345961;
  height: 400px;
  margin-top: 50px;
}

.section-2-img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 40%;
  margin-top: 0.5%;
}

.section-2-img img {
  width: 100%;
  border-radius: 15px;
}

.section-2-text {
  color: #fff;
  padding: 55px 80px;
  letter-spacing: 8px;
  line-height: 2.5em;
  width: 60%;
}

.section-2-text img {
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  fill: #fff;
  margin-top: 22px;
  padding: 0px 10px;
}

.section-2-text1, .section-2-text2, .section-2-text3, .section-2-text4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background-color: #345961;
  text-align: center;
  padding: 20px;
  margin-top: 120px;
  color: #fff;
}

footer hr {
  width: 30%;
}

footer li {
  display: inline-block;
  padding: 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #85B9C3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

footer p {
  font-size: 0.9em;
  font-weight: 200;
  letter-spacing: 3px;
  line-height: 1.8em;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer-nav-li {
  max-width: 20%;
}

.footer-content {
  max-width: 450px;
  margin-left: 50%;
  line-height: 1.8em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.8;
  max-width: 30%;
}

.Copyright {
  margin-top: 20px;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  max-width: 30%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.husky:hover {
  margin-top: 30px;
  -webkit-transition: 3s;
  transition: 3s;
  cursor: pointer;
}

.husky:hover .hair-r {
  margin-left: -10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.husky:hover .body {
  margin-left: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.husky:hover .body-w {
  background-color: #ffbab5;
  -webkit-transition: 6s 1s;
  transition: 6s 1s;
}

.husky:hover .eye-r-i, .husky:hover .eye-l-i {
  margin-left: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes cloudAni {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes cloudAni {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@-webkit-keyframes textAni {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes textAni {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes huskyUp {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  25% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  75% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes huskyUp {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  25% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  75% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes huskyEarUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  75% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes huskyEarUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  75% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes huskyEyeandNoseMove {
  0% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  25% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes huskyEyeandNoseMove {
  0% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  25% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=style.css.map */